* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
:root {
  --main-color: #7971ea;
  --second-color: #;
  --paragraph-color:#6b6e76;
  --title-color:#; 
  --main-transition:all 0.4s;
}
::selection {
  background-color:var(--main-color);
  color: white;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding:0;}
.main-title {
  text-align: center;
  margin: 10px 0 0px;
  font-size: 45px;
  font-weight: bolder;
  color: white;
}
.subject {
  margin: 0px auto 90px;
  font-size: 19px;
  font-weight: 400;
  width: fit-content;
  position: relative;
  z-index: 1;
  max-width: 624px;
  text-align: center;
  color: var(--text-hover);
  line-height: 1.5;
}
hr {
  color: white;
  margin-top: 95px;}
::placeholder {
  font-size: 15px;
}
input:valid {
  color: black;
}
.header .container {
  display: flex;
  padding: 40px 0 55px;
  justify-content: space-evenly;
}
.header .search .icon{
  color: #8c92a0;
  font-size: 14px;
}
.header .search input {
  border: none;
  padding-left: 10px;
  transition: var(--main-transition);
}
.header .search input:focus {
  border: none;
  outline: none;
  padding-left: 0;
}
.header .name {
  display: flex;
  justify-content: center;
  position: relative;
  right: 65px;
}
.header .name h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  border: 2px solid black;
  padding: 5px 10px;
}
.header .holder {
  display: flex;
  gap: 15px;
  font-size: 16px;
  justify-content: flex-end;
  position: relative;
}
.header .holder .user {
  color: #9092a0;
  transition: var(--main-transition);
}
.header .holder .love {
  color: #9092a0;
  transition: var(--main-transition);
}
.header .holder .cart {
  color: #9092a0;
  transition: var(--main-transition);
}
.header .second-nav .bars {
  color: #9092a0;
  position: absolute;
  top: 36px;
  right: 26px;
  display: none;
}
.header .user:hover {
  color: black;
}
.header .love:hover {
  color: black;
}
.header .cart:hover {
  color: black;   
  cursor: pointer;
}
.header .second-nav .bars:hover {
  color: black;

}
.header .holder .cart span {
  position: absolute;
  top: -22px;
  right: -18px;
  font-size: 13px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50px;
  display: block;
  text-align: center;
  background: #7971ea;
  color: white;
}
  .header .holder .cart:hover span {
    top:-25px;
    transition: var(--main-transition);
  }

                                                          /*! second-nav */
.second-nav {
  padding: 0;
  justify-content: center;
}
.second-nav .main-ul {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.second-nav .main-ul li a.active {
  color: var(--main-color);
}
.second-nav .main-ul li {
  text-transform: uppercase;
  position: relative;
}
.second-nav li a {
  padding:10px;
  text-transform: uppercase;
  letter-spacing: .0.7px;
  color: black;
  font-size: 14px;
  transition: 0.2s;
}
.second-nav li:hover a {
  color: var(--main-color);
}
.second-nav li a i {
  font-size: 12px;
}
.second-nav .mega-menu-1,
.second-nav .mega-menu-2{
  position: absolute;
  top: calc(100% + 40px);
  left: 0px;
  z-index: -1;
  transition: 0.2s;
  opacity: 0;
  background-color: white;
}
.second-nav .mega-menu-3 {
  position: absolute;
  top: calc(100% + 5px);
  left: 205px;
  z-index: -1;
  transition: 0.2s;
  opacity: 0;
  background-color: white;
}
.second-nav .main-ul li:first-child:hover .mega-menu-1 {
  z-index: 100;
  top: calc(100% + 20px);
  opacity: 1;
}
.second-nav .main-ul li:nth-child(n+2):hover .mega-menu-2 {
  z-index: 100;
  top: calc(100% + 20px);
  opacity: 1;
}
.second-nav .main-ul .li-mega-3:hover .mega-menu-3 {
  z-index: 100;
  top: calc(100% + -42px);
  opacity: 1;
}
.second-nav .mega-menu-1 .links,
.second-nav .mega-menu-2 .links {
  min-width: 205px;
  padding: 5px 0;
  border-top: 3px solid var(--main-color);
  transition: var(--main-transition);
}
.second-nav .mega-menu-1 .links li:hover a,
.second-nav .mega-menu-2 .links li:hover a {
  color: black;
}
.second-nav .mega-menu-1 .links a,
.second-nav .mega-menu-2 .links a {
  display: block;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 15px;
  color: var(--paragraph-color);
}
.second-nav .mega-menu-1 .links a .sub,
.second-nav .mega-menu-2 .links a sub {
  font-size: 12px;
  position: relative;
  left: 80px;}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
section .Returning {
  border: 1px solid #d6d6d6;
  padding: 25px 20px;
  width: 1050px;
  color: var(--paragraph-color);
  margin-bottom: 40px;
}
section .Returning p a {
  color: var(--main-color);
}
.main-form {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.Details {
  display: flex;
  gap: 30px;
}
.Details h2 {
  font-weight: 500;
  margin-bottom: 20px;
}
.form {
  padding-bottom: 120px;
  overflow: hidden;
  min-width: 510px;
}
.form .container {
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.form .h2 {
  display: flex;
  gap: 70px;
  flex-direction: column;
}
.form  .h2 h2 {
  color: black;
  font-size: 28px;
  font-weight: 500;
}
.form .contact {
  padding: 40px 35px;
  border-radius: 7px;
  border: 1px solid #d6d6d6;
}
#Country {
  padding: 13px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}
.Country-label {
  margin-bottom: 10px;
}
.form .contact label {
  color: #000022;
  font-size: 14px;
  font-family: math;
}
.form .contact .input {
  display: flex;
  gap: 35px;
  flex-direction: column;
  margin: 10px auto 30px;
}
.form .contact .input .first {
display: flex;
gap: 30px;
margin-bottom: 15px;
}
.form .contact .input .first div {
width: 50%;
display: flex;
gap: 15px;
flex-direction: column;
}
.form .contact .input .first input {
width: 100%;
}
.form .contact .input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form .contact .input input {
  padding: 13px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  outline: none;
}
.form .contact .input .second {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.form .contact .input .second div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form .contact .input .therd {
  display: flex;
  gap: 30px;
}
.form .contact .input .therd div {
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form .contact .input input:focus {
  border: 1px solid var(--main-color);
}
.form .contact .textarea {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.form .contact .check-dev {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0 5px;
  }
.form .contact .textarea textarea {
  font-size: 16px;
  padding: 14px 22px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
}
.form .contact .textarea textarea:focus {
  border: 1px solid var(--main-color);
}
.form .contact a {
  color: white;
  background-color: var(--main-color);
  border-radius: 6px;
  padding: 14px 25px;
  font-weight: 400;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  display: block;
  margin-top: 18px;
  text-align: center;
}
.form .main-contact {
  display: flex;
  gap: 30px;
}
.Details .Code {
  min-width: 510px;
}
.Code .Coupon {
  border: 1px solid #d6d6d6;
  padding: 48px;
  margin-bottom: 50px;
}
.Code .Coupon .holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Coupon .holder p {
  letter-spacing: -0.5px;
}
.Code .Coupon .holder .apply {
  color: white;
  background-color: var(--main-color);
  padding: 13px 24px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.3s;
}
.Code .Coupon .holder .apply:hover {
  background-color:#5a50e5 ;
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 13px;
}
.Code .Coupon .holder input {
  color: black;
  padding: 13px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  outline: none;
  border-right: none;
  width: 237px;
}
.Code .Coupon .holder .ptn {
  display: flex;
}
.Coupon .product div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
  padding: 12px;
}
.Coupon .product div:last-child {
  border-bottom: none;
  margin-bottom: 40px;
}
.Coupon .product div h4 {
  font-weight: 500;
  font-family: revert;
}
.Coupon .product div span {
  color: #3b3b3b;
}
.Coupon .final {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.Coupon .final a {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #d6d6d6;
  font-size: 15px;
  }
.Coupon  .send {
  color: white;
  background-color: var(--main-color);
  border-radius: 6px;
  padding: 14px 25px;
  font-weight: 400;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  display: block;
  margin-top: 18px;
  text-align: center;
  transition: 0.3s ease;
}
.footer {
  padding-bottom: 65px;
}
.footer .container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer .container h2 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
  align-self: flex-start;
  color: #232323;
}
.footer .navigations {
  display: flex;
  flex-direction: column;
}
.footer .navigations .links {
  display: flex;
  gap: 60px;
}
.footer .navigations li a {
  font-size: 16px;
  color: var(--paragraph-color);
  display: block;
  margin-bottom: 15px;
}
.footer .contact {
  display: flex;
  gap: 30px;
} 
.footer .contact .promo img {
  width: 240px;
}
.footer .contact .promo p {
  color: var(--paragraph-color);
}
.footer .contact .promo p span {
  color: #483bff;
  margin: 15px auto -13px;
  display: block;
}
.footer .info {
  max-width: 280px;
}
.footer .info ul {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #424347;
}
.footer .info ul li {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer .info ul li i {
  color: var(--main-color);
  font-size: 20px;
}
.footer .info label {
  color: #323232;
  font-size: 18px;
}
.footer .info .box input {
  border: 1px solid #ced4da;
  padding: 18px 12px;
  width: 100%;
}
.footer .info .box input[type="text"]:focus {
  border: 1px solid var(--main-color);
  outline: none;
  border-radius: 4px;
} 
.footer .info .box a {
  color: white;
  background: var(--main-color);
  padding: 13px 23px;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  width: fit-content;
  transition: var(--main-transition);
  position: relative;
  top: -49px;
  left: 193px;
}
.footer .the-end {
  text-align: center;
  color: var(--paragraph-color);
  display: block;
  padding: 30px 0 0;
  letter-spacing: -0.6px;
}
.footer .the-end i {
  color: #8c92a0;
}
.footer .the-end span {
  color: var(--main-color);
}

.footer .info .box a:hover{
  background-color: #5a50e5;
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 13px;
}
.footer .navigations li a:hover{
  color: #5a50e5;
  
}
.Coupon .send:hover{
  background-color: #5a50e5;
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 13px;
}